body {
	background-color:#FFFFFF; 
  width: 39em;
  font-size: 12pt;
	margin: 42px 64px;
/*	margin: 65px; */
}
h2 {
	font-family:Arial Black, Gadget,sans-serif;
	font-size:32px;
	color:#000000;
	font-weight:bold;
}
h3 {
	font-family:Arial Black, Gadget,sans-serif;
	font-size:24px;
	color:#000000;
	font-weight:bold;
}
h4 {
	font-family:Arial Black, Gadget,sans-serif;
	font-size:18px;
	color:#000000;
	font-weight:bold;
}

a {
  text-decoration: none;
}
p {
	font-family:Arial Black, Gadget,sans-serif;
	font-size:16px;
  line-height: 14pt;
	text-align:left;
}
ul {
	font-family:Arial Black, Gadget,sans-serif;
	font-size:14px;
	text-align:left;
}
code {
  background-color: lightgrey;
  padding: 1px;
}
a {
  text-decoration: none;
}
p {
	font-family:Arial Black, Gadget,sans-serif;
	font-size:16px;
  line-height: 14pt;
	text-align:left;
}
ul {
	font-family:Arial Black, Gadget,sans-serif;
	font-size:14px;
	text-align:left;
}
code {
	font-family:Courier New, courier, monospace;
  background-color: lightgrey;
  padding: 1px;
}

.spoiler { 
  color: black; 
  background-color:black;
}

.spoiler:hover { 
  background-color:white; 
}
