.container {
    width: 80%;
    margin: auto;
    padding: 10px;
}
.one {
    width: 15%;
    float: left;
}
.two {
    margin-left: 15%;
    margin-right: 30%;
}

body {
	font-family:Courier New, courier, monospace;
	font-size:14px;
  line-height: 14pt;
	text-align:left;
}
